@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: calc($padding-default / 1.5) $padding-default;
    border-radius: $border-radius-default;
    background-color: $bg-color;
}