// Colors

$color-info: #33b5e5;
$color-sucess: #00C851;
$color-danger: #d32752;
$color-warning: #f6c31c;

// Color palette
$colors: (
    "info": $color-info,
    "sucess": $color-sucess,
    "danger": $color-danger,
    "warning": $color-warning,
    "blue": #0000ff,
    "red": #d0021b,
    "yellow": #ffff11,
    "orange": #ff6600,
    "green": #7ed321,
    "purple": #733380,
    "gray": #a8a8a8,
    "black": #000000,
    "white": #ffffff,
    "pink": #fe4164,
);



// Margin
$margin-default: 1rem;

// Padding
$padding-default: 1rem;

// Border radius

// Border
$border-thickness-default: 1px;
$border-radius-default: 3px;
$border-radius-medium: 8px;

// Box Shadow
$shadow-default: 0 1.5rem 4rem rgba(#000, .15);
$box-shadow-default: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-medium: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$box-shadow-strong: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

// Break points
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px