.card {
    display: block;
    padding: $padding-default;
    border: $border-thickness-default;
    box-shadow: $box-shadow-default;

    &__title {

        padding-bottom: $padding-default;
        font-weight: $font-bold;
    }

    &__body {
        word-wrap: normal;
    }

    &__link {
        text-decoration: underline;
    }
}