// Typography

$font-primary: sans-serif;
$font-secondary: sans-serif;
$font-bold: 700;
$font-italic: italic;

$font-size-default: 1.6rem;
$font-size-xxl: $font-size-default * 3;
$font-size-xl: $font-size-default * 2;
$font-size-lg: $font-size-default * 1.5;
$font-size-sm: $font-size-default * 0.75;

.heading-primary {

}
.heading-secondary {
    
}
.heading-tertiary {
    
}

h1 {

}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

p {

}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}